Código/FlowP4_Alejandro.json
[
    {
        "id": "0b7c17df7a7aba56",
        "type": "mqtt in",
        "z": "08d507134d1338da",
        "name": "",
        "topic": "casa/sensores/temperatura13",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 420,
        "wires": [
            [
                "061cf083349386d9",
                "64b68c748fdb21cc",
                "e73d2d7f0f33d54e"
            ]
        ]
    },
    {
        "id": "061cf083349386d9",
        "type": "ui_gauge",
        "z": "08d507134d1338da",
        "name": "",
        "group": "369eb1f56a12feaf",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "64b68c748fdb21cc",
        "type": "ui_chart",
        "z": "08d507134d1338da",
        "name": "",
        "group": "369eb1f56a12feaf",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Gráfico Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e73d2d7f0f33d54e",
        "type": "debug",
        "z": "08d507134d1338da",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 480,
        "wires": []
    },
    {
        "id": "ff6aac93f04702a4",
        "type": "mqtt in",
        "z": "08d507134d1338da",
        "name": "",
        "topic": "casa/sensores/humidade13",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 580,
        "wires": [
            [
                "0c0467a7f9b69b62",
                "a5b46c8543128833"
            ]
        ]
    },
    {
        "id": "0c0467a7f9b69b62",
        "type": "ui_gauge",
        "z": "08d507134d1338da",
        "name": "",
        "group": "369eb1f56a12feaf",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "a5b46c8543128833",
        "type": "debug",
        "z": "08d507134d1338da",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "db7ae5933a53f855",
        "type": "mqtt in",
        "z": "08d507134d1338da",
        "name": "",
        "topic": "depuracion13",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 930,
        "y": 540,
        "wires": [
            [
                "264d507e822bef1b"
            ]
        ]
    },
    {
        "id": "264d507e822bef1b",
        "type": "debug",
        "z": "08d507134d1338da",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 540,
        "wires": []
    },
    {
        "id": "dd090e4e3f29d910",
        "type": "mqtt in",
        "z": "08d507134d1338da",
        "name": "",
        "topic": "casa/sensores/temperatura13",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 700,
        "wires": [
            [
                "9275e20c07c6657f"
            ]
        ]
    },
    {
        "id": "9275e20c07c6657f",
        "type": "switch",
        "z": "08d507134d1338da",
        "name": "PasoTempTrue_False",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "21",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "21",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 700,
        "wires": [
            [
                "d0f7ef91f086b521"
            ],
            [
                "10f99c68ee1c2c26"
            ]
        ]
    },
    {
        "id": "d0f7ef91f086b521",
        "type": "change",
        "z": "08d507134d1338da",
        "name": "Cambio a True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 620,
        "wires": [
            [
                "26cef6f84b06e347"
            ]
        ]
    },
    {
        "id": "10f99c68ee1c2c26",
        "type": "change",
        "z": "08d507134d1338da",
        "name": "Cambio a False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 760,
        "wires": [
            [
                "26cef6f84b06e347"
            ]
        ]
    },
    {
        "id": "26cef6f84b06e347",
        "type": "rbe",
        "z": "08d507134d1338da",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1110,
        "y": 700,
        "wires": [
            [
                "a104d0bf15aefdb4",
                "e431499de72b13aa"
            ]
        ]
    },
    {
        "id": "a104d0bf15aefdb4",
        "type": "mqtt out",
        "z": "08d507134d1338da",
        "name": "",
        "topic": "casa/actuadores/rele13",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 1330,
        "y": 600,
        "wires": []
    },
    {
        "id": "e431499de72b13aa",
        "type": "debug",
        "z": "08d507134d1338da",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 720,
        "wires": []
    },
    {
        "id": "da8037832388a6d0",
        "type": "mqtt out",
        "z": "08d507134d1338da",
        "name": "",
        "topic": "casa/actuadores/rele13",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 1230,
        "y": 420,
        "wires": []
    },
    {
        "id": "5c43c5db46359b2d",
        "type": "ui_switch",
        "z": "08d507134d1338da",
        "name": "",
        "label": "rele13",
        "tooltip": "",
        "group": "46a07a740cadf472",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 420,
        "wires": [
            [
                "da8037832388a6d0"
            ]
        ]
    },
    {
        "id": "43c6d6fc24ad7b6d",
        "type": "mqtt-broker",
        "name": "mi_mosquitto_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "369eb1f56a12feaf",
        "type": "ui_group",
        "name": "TemperaturaHumidade",
        "tab": "e3c7d76310c753e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "46a07a740cadf472",
        "type": "ui_group",
        "name": "RGB",
        "tab": "903fa3e2969e67a7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e3c7d76310c753e4",
        "type": "ui_tab",
        "name": "Practica4",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "903fa3e2969e67a7",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]